{% extends "base.html" %}
{% block title %}
    {{ user.username }} profile
{% endblock %}
{% block content %}
    <div class="py-2">
        <div id="keep-it-center">
            <a href="{{ profile.photo.url }}">
                <img src="{{ profile.photo.url }}"
                    style="
                    height: 150px; 
                    width: 150px;
                    position: relative;
                    border: 1px solid black;
                    border-radius: 200px;
                ">
            </a>
        </div>
        <div id="keep-it-center">
            <h2>{{ profile.user.username }}</h2>
        </div>
        <div id="keep-it-center">
            <h4>{{ profile.user.first_name }} {{ profile.user.last_name }}</h4>
        </div>
        <div id="keep-it-center">
            <p>{{ profile.bio }}</p>
        </div>
        {% if request.user.id == profile.user.id %}
            {% if profile.user.first_name and profile.user.last_name and profile.bio %}
                <div id="keep-it-center">
                    <p>
                    Edit your profile <a href="{% url 'account:edit' %}">here</a>
                    </p>
                </div>
            {% else %}
                <div id="keep-it-center">
                    <p>
                    Complete profile setup <a href="{% url 'account:edit' %}">here</a>
                    </p>
                </div>
            {% endif %}
        {% endif %}
        <div class="row">
            {% for poster in posters %}
                <div class="col">
                    <div class="py-3 px-3">
                        <a href="{{ poster.get_absolute_url }}">
                        <img src="{{ poster.image.url }}" alt="{{ poster.title }}-image"
                            style="
                                height: 500px; 
                                width: 400px;
                                border: 1px solid black;
                                border-radius: 5px;">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}