{% extends "base.html" %}
{% block title %}{{ poster.title }}{% endblock %}
{% block content %}
    <div class="py-5">
        <h1>{{ poster.title }}</h1>
        <a href="{{ poster.image.url }}">
            <img src="{{ poster.image.url }}" alt="{{ poster.title }}-image"
            style="                
                position: absolute;
                left: 150px;
                height: 700px;
                width: 470px;
                border: 1px solid black;
            ">
        </a>
        Posted on <i>{{ poster.created }}</i> by <a href="{{ poster.user.profile.get_absolute_url }}">
            {{ poster.user.username }}
        </a>
        <p class="py-2">{{ poster.description }}</p>
        <b>Likes </b>{{ poster.total_likes }}
        <br>
        <b>Tags</b>
        {% for tag in poster.tags.all %}
            {{ tag }}
        {% endfor %}
    </div>
{% endblock %}