.main-container {
    margin-left: auto;
    margin-right: auto;
}
.main-container a {
    text-decoration: none;
}

#login-submit {
    color: aliceblue;
    background-color: aqua;
    border: none;
}
a {
    text-decoration: none;
}

/* forms */
form {
    overflow:auto;
}
form p {
    width:100%;
    overflow:auto;
}
label {
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px;
}
input, textarea {
    clear:both;
    float:left;
    margin:0 0 10px;
    /* background:#efefef; */
    border: 1px solid black;
    border-radius: 5px;
    padding:6px 10px;
    font-size:14px;
}
.errorlist {
    color:#cc0033;
    clear:both;
    padding-left:10px;
}
.helptext {
    margin:0 0 20px 0;
    color:#aaa;
    clear:both;
    float:left;
    font-size:13px;
}

#keep-it-center {
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.main-sidebar {
    padding: 5px;
}